body {
    font-family: 'Arial', sans-serif;
    line-height: 1.7;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Header Styles */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.logo img {
    max-width: 100%;
    height: auto;
}

.navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #444;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    color: #ddd;
}

/* About Us Section */
.about-us {
    padding: 20px;
    background-color: #fff;
    margin: 20px auto;
    max-width: 800px;
}

.about-us h2 {
    text-align: center;
    color: #444;
    font-size: 2.5em;
    margin-bottom: 20px;
}

/* Adding an image in the 'About Us' section */
.about-us img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
}
/* Hero Section */
.hero {
    background: #555 url('/assets/images/hero-background.jpg') no-repeat center center/cover;
    color: #fff;
    text-align: center;
    padding: 100px 20px;
}

.hero h1 {
    font-size: 3em;
    margin: 0;
}

/* Menu Section */
.menu {
    padding: 20px;
    background-color: #fff;
    margin: 20px auto;
    max-width: 800px;
    text-align: center;
}

.menu h2, .menu h3 {
    color: #444;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}

.menu-item {
    margin-bottom: 15px;
}

.menu-item h4 {
    color: #333;
    font-size: 1.5em;
    margin-bottom: 5px;
}

.menu-description {
    font-size: 1em;
    color: #666;
    line-height: 1.6;
    margin: 0 0 10px 0;
}

/* Developer's Favorites Section */
.dev-favorites-gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.dev-favorite-image {
    max-width: 100%;
    height: auto;
    flex: 1;
    margin: 5px;
    border-radius: 8px;
}

/* Location Section */
.location {
    padding: 20px;
    background-color: #fff;
    margin: 20px auto;
    max-width: 800px;
}

.location h2 {
    text-align: center;
    color: #444;
    margin-bottom: 20px;
}

.location ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

.location li {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 5px;
}

/* Footer Section */
#footer {
    background-color: #333;
    padding: 20px;
    text-align: center;
    color: #fff;
}

.footer-socialmedia {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Adjust the space between icons as needed */
    margin-bottom: 10px;
}

.footer-icon {
    width: 40px;  /* Set a consistent width for the icons */
    height: auto; /* Maintain aspect ratio */
}

.footer-icon:hover {
    opacity: 0.8; /* Slightly dim the icon on hover */
    transition: opacity 0.3s ease;
}

