/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.7; /* Adjusted for better readability */
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Header Styles */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.logo img {
    max-width: 100%;
    height: auto;
}

.navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #444;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    color: #ddd;
}

/* Hero Section */
.hero {
    background: #555 url('/assets/images/hero-background.jpg') no-repeat center center/cover;
    color: #fff;
    text-align: center;
    padding: 100px 20px;
}

.hero h1 {
    font-size: 3em;
    margin: 0;
}

/* About Us Section */
.about-us {
    padding: 20px;
    background-color: #fff;
    margin: 20px auto;
    max-width: 800px;
}

.about-us h2 {
    text-align: center;
    color: #444;
    font-size: 2.5em;
    margin-bottom: 20px;
}

/* Adding an image in the 'About Us' section */
.about-us img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
}

/* Menu Section */
.menu {
    padding: 20px;
    background-color: #fff;
    margin: 20px auto;
    max-width: 800px;
    text-align: center; /* Center the title */
}

.menu h2, .menu h3 {
    color: #444;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}

.menu h2 {
    width: 800px; /* Set the width */
    margin-left: auto; /* Center the element */
    margin-right: auto; /* Center the element */
}

.menu-item {
    margin-bottom: 15px;
}

.menu-item h4 {
    color: #333;
    font-size: 1.5em;
    margin-bottom: 5px;
}

.menu-description {
    font-size: 1em;
    color: #666;
    line-height: 1.6; /* Adjusted line height for better readability */
    margin: 0 0 10px 0;
}

/* Location Section */
.location {
    padding: 20px;
    background-color: #fff;
    margin: 20px auto;
    max-width: 800px;
}

.location h2 {
    text-align: center;
    color: #444;
    margin-bottom: 20px;
}

.location ul {
    list-style-type: none;
    padding: 0;
}

.location li {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 5px;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

footer a {
    color: #fff;
    text-decoration: none;
}

/* General Spacing Adjustments */
p, h2, h3, h4 {
    margin-bottom: 15px;
    padding: 0 10px;
}
